<h1>Campaigns</h1>

<% if @campaigns.any? %>
  <table class="table table-bordered table-condensed table-hover table-striped">
    
    <thread>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>start_at</th>
        <th>end_at</th>
        <th>limit_start</th>
        <!--<th>movie_url</th>-->
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thread>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= link_to campaign.id, edit_campaign_path(campaign) %></td>
          <td><%= campaign.name %></td>
          <td><%= campaign.start_at %></td>
          <td><%= campaign.end_at %></td>
          <td><%= campaign.limit_start %></td>
          <td><%= campaign.created_at %></td>
          <td><%= campaign.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
<% end %>
<%= link_to 'Create Campaign', new_campaign_path %>